<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Dashboard</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/chart.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {
            'packages': ['corechart']
        });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Coronavirus cases');
            data.addColumn('number', 'breakdown');
            data.addRows([
                ['Active', <%= active %>],
                ['Deaths', <%= death %>],
                ['Recovered', <%= recovered %>],
            ]);

            // Set chart options
            var options = {
                'legend': 'right',
                'title': `COVID-19 CASES IN <%= country.toUpperCase() %>`,
                'is3D': true,
                'chartArea': {
                    left: 20,
                    top: 30,
                    width: '140%',
                    height: '140%'
                },
                'backgroundColor': '#f7d7a7',
                'width': 300,
                'height': 300,
                'colors': ['#3838d4', 'red', '#3ee654']
            }

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>COVID-19 DASHBOARD</h1>

        <div class="row">
            <div class="col span-1-of-2">
                <div class="total">
                    <div class="total-count">
                        <%= total %>
                    </div>
                    <div class="total-heading">Total cases in
                        <%= country %>
                    </div>
                    <div class="total-icon">
                        <img src="https://img.icons8.com/clouds/90/000000/coronavirus.png" />
                    </div>
                </div>
            </div>
            <div class="col span-1-of-2">
                <div class="active">
                    <div class="active-count">
                        <%= active %>
                    </div>
                    <div class="active-heading">Active cases in
                        <%= country %>
                    </div>
                    <div class="active-icon">
                        <img src="https://img.icons8.com/bubbles/90/000000/coronavirus.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-2">
                <div class="recovered">
                    <div class="recovered-count">
                        <%= recovered %>
                    </div>
                    <div class="recovered-heading">Recovered cases in
                        <%= country %>
                    </div>
                    <div class="recovered-icon">
                        <img src="https://img.icons8.com/clouds/90/000000/heart-with-pulse.png" />
                    </div>
                </div>
            </div>
            <div class="col span-1-of-2">
                <div class="deaths">
                    <div class="deaths-count">
                        <%= death %>
                    </div>
                    <div class="deaths-heading">Deaths in
                        <%= country %>
                    </div>
                    <div class="deaths-icon">
                        <img src="https://img.icons8.com/dusk/80/000000/hypertension.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="chart">
            <!--Div that will hold the pie chart-->
            <div id="chart_div"></div>
        </div>
        <div class="back">
            <a href="/">Back To Home</a>
        </div>
        <footer class="row">

            <div class="col span-1-of-2">
                <div class="span-1-of-2 taken">
                    Recored at
                    <%= taken %> GMT
                </div>
            </div>
            <div class="col span-1-of-2">
                <div class="foot">
                    &copy; Developed by <a href="https://www.linkedin.com/in/ayushkharkia" target="_blank">Ayush Kharkia</a>
                </div>
            </div>
        </footer>
    </div>


</body>

</html>